h3 {
  color: #005E61;
}

table {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

td {
  border: 1px solid #00A8AD;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
}

#keyList {
  color: #005E61;
}

.fav-recipe-Btn {
  /* width: 50%; */
  cursor: pointer;
  color: #005E61;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  background-color: #06C0C2;
  margin-left: 20px;
}